<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Settings page</title>
</head>
<body>
<!-- this section will go to base.html -->


<section>
	<div class="container">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
			<div class="card-body">
			<h3 class="mb-3">Change Password</h3>
			
				<form th:action="@{/user/change-Password}" method="post">
				
				<!-- old password field -->
				<div class="form-group">
				
				<input name="oldPassword" type="password" class="form-control" placeholder="Enter your old password" />
				
				</div>
				<!-- new password field -->
				<div class="form-group">
				
				<input name="newPassword" type="password" class="form-control" placeholder="Enter your new password" />
				
				</div>
				
				<div class="container text-center">
					<button  type="submit" class="btn btn-success">Submit </button>
					<button  type="reset" class="btn btn-warning">Reset </button>
				
				</div>
				</form>
			
			</div>
		</div>	
		</div>
		</div>

	</div>

	
	<script>
	
	//this fn will rn when doc wl get ready 
	$(document).ready(()=>{
			
			$('.item').removeClass('active')
			$("#settings-link").addClass("active");
	});
	</script>
</section>


</body>
</html>